.product{
    margin-left: 50px;
  padding: 10px;
}
.product-name{
    color: rgb(32, 32, 216);
    font-weight: 400;
}
.btn-regular{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;

}
.icon-color {
    color: goldenrod;
}